* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    
}


header {
    background-color: #00d9ff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #800000;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.contenido {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contacto, .formulario, .mapa {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contacto h2, .formulario h2, .mapa h2 {
    color: #220080;
    margin-bottom: 10px;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


.mapa iframe {
    width: 100%;
    border-radius: 5px;
}


footer {
    background-color: #090080;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informacion-pie, .enlaces-pie {
    font-size: 14px;
}

.enlaces-pie a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.enlaces-pie a:hover {
    text-decoration: underline;
}
